<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FinancialBoardsFetch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <FinancialBoardsFetch.Properties.Settings>
            <setting name="RequestCommodities_Old" serializeAs="String">
                <value>https://newz.hosted.inetbfa.com/other/quicklist/asxml/SILVER,GOLDI,PLAT</value>
            </setting>
            <setting name="RequestJSEIndice_Old" serializeAs="String">
                <value>https://newz.hosted.inetbfa.com/other/quicklist/asxml/J200,J201,J203,J210,J211,J212</value>
            </setting>
            <setting name="RequestCurrencies_Old" serializeAs="String">
                <value>https://newz.hosted.inetbfa.com/other/quicklist/asxml/USDZAR,GBPZAR,EURZAR,JPYZAR,AUDZAR,USDGBP</value>
            </setting>
            <setting name="RequestTop40_Old" serializeAs="String">
                <value>https://newz.hosted.inetbfa.com/other/hosted_quicklist/ASXML/sname,trade,time,perc,points/I:J200</value>
            </setting>
            <setting name="RequestCommodities_New" serializeAs="String">
                <value>https://df.marketdata.feeds.iress.com/feed/493/?token=eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJzZWNJRCI6MzA3LCJpYXQiOjE2MDM5NzY3NjYsImF1ZCI6ImlyZXNzLmNvLnphIiwiaXNzIjoiYWNjb3VudHMuaXJlc3MuY28uemEifQ.5ltKbdcsbWNrU6KA-JBmsLN7y2PTYBLIV79yBxxUToVdKutKBJNwIcjgFMC0-WFm6gZdg4xo8rvncNM7Tz_ebw</value>
            </setting>
            <setting name="RequestJSEIndice_New" serializeAs="String">
                <value>https://df.marketdata.feeds.iress.com/feed/494/?token=eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJzZWNJRCI6MzA3LCJpYXQiOjE2MDM5ODAyODIsImF1ZCI6ImlyZXNzLmNvLnphIiwiaXNzIjoiYWNjb3VudHMuaXJlc3MuY28uemEifQ.GdfHDhbYLeEYCcltvj29bB9HUoR9JLysBd-cgCUqTAQ2SIJff8Fv0loEN7TkociVWzMjyLlW01H59KuITahtAw</value>
            </setting>
            <setting name="RequestCurrencies_New" serializeAs="String">
                <value>https://df.marketdata.feeds.iress.com/feed/492/?token=eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJzZWNJRCI6MzA3LCJpYXQiOjE2MDM5NzU5MzAsImF1ZCI6ImlyZXNzLmNvLnphIiwiaXNzIjoiYWNjb3VudHMuaXJlc3MuY28uemEifQ.N2lbTAdl-YLtIVN1ObBTKGlwHQsHlNoZXuMGlnxowiU6TVkB7duBL65bAGxSwh4pyYHs8Oqf_Gppl_hcRkzWeQ</value>
            </setting>
            <setting name="RequestTop40_New" serializeAs="String">
                <value>https://df.marketdata.feeds.iress.com/feed/806/?token=eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJzZWNJRCI6MzA3LCJpYXQiOjE2MjMyMzg0NjAsImF1ZCI6ImlyZXNzLmNvLnphIiwiaXNzIjoiYWNjb3VudHMuaXJlc3MuY28uemEifQ.Z3ewAt68nUIjmExlMsJYo2mhde0xpwYxd20yzYDns6KRPu3R3ErE-WJ_Vc_2-zYAe4Em704yfPI94rZJm0oqKw</value>
            </setting>
            <setting name="UseNewCommodities" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseNewCurrencies" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseNewJSEIndice" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseNewTop40" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastOpenTab" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SaveFolderPath" serializeAs="String">
                <value>G:\DB_Source\Financial DB\</value>
            </setting>
            <setting name="MinimizeToTray" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StartMinimized" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UpdateOnStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartAutoUpdateOnStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NudInterval" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="IntervalPeriodIndex" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LastUpdateAt" serializeAs="String">
                <value />
            </setting>
            <setting name="UpdateCommodities" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UpdateCurrencies" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UpdateJSEIndice" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UpdateTop40" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SwitchToActiveFetchTab" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SwitchBackToSettingsTab" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BringToForefront" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SaveLogs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SimulateTime" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastSimulatedTime" serializeAs="String">
                <value>2020-07-31</value>
            </setting>
            <setting name="JSEUpdateStart" serializeAs="String">
                <value>09:30:00</value>
            </setting>
            <setting name="JSEUpdateEnd" serializeAs="String">
                <value>20:00:00</value>
            </setting>
            <setting name="LogEvents" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DBConnectionString" serializeAs="String">
                <value>Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Developer1\source\repos\Newzroom-Afrika\DotNET\FinancialsFetch\AppDB\FetchResultDB.mdf;Integrated Security=True</value>
            </setting>
        </FinancialBoardsFetch.Properties.Settings>
    </userSettings>
	<connectionStrings>
		<add name="FetchResultDB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\FetchResultDB.mdf;Integrated Security=True"/>
	</connectionStrings>
</configuration>